<html>
  <head>
    <title>RailsMisterCocktail</title>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="all" href="/assets/application.scss" />
  </head>

<body>
  <div class="banner d-flex" background-size="cover" style="background-image: url(https://images.unsplash.com/photo-1560508180-03f285f67ded?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80)">
   <div class="container">
    <h1>When Life Gives You Lemons Make Yourself A Margarita!</h1>
      <%= link_to cocktails_path, class: "navbar-brand" do %>
      <% end %>
       <%= link_to "Add New Cocktail", new_cocktail_path(@cocktail), class: "btn btn-banner" %>
   </div>
  </div>

  <div class="navbar navbar-expand-sm navbar-light">
      <%= link_to cocktails_path, class: "navbar-brand" do %>
      <% end %>
  </div>

<div class="card-deck">
  <% @cocktails.each do |cocktail| %>

    <div class="card">
      <%= cl_image_tag cocktail.photo.key, width: 364, height: 180, crop: :lfill %>
      <div class="card-body">
        <h5> <%= link_to cocktail.name, cocktail_path(cocktail), class: "card-title" %></h5>
      </div>
    </div>
  <% end %>
</div>

</body>

