<body>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1568926825354-c277ddca9bec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=748&q=80);">
     <div class="container ml-6 mt-3 justify-content-center">
      <h3>Add a new dose</h3>
  <%= simple_form_for [cocktail, dose] do |f| %>
  <%= f.association :ingredient, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
  <%= f.input :description %>
  <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>

   </div>
</div>
<br>
<br>
<br>

<div class="d-flex justify-content-center">
  <%= link_to "Home", cocktails_path, class: "btn btn-ghost" %>
</div>

</body>
